In [11]:
import numpy as np
import pandas as pd
import os

In [12]:
df_hier = pd.read_csv('../data/hier.csv')
df_hier.head()

   gene  level_5  level_4  level_3  level_2  level_1  level_0
0  A1CF      175       59        9       11        0        0
1  AAAS      103      133       50        6        1        0
2  AAR2      320       56       26       11        0        0
3  AATF      376       79       26       11        0        0
4  ABAT      561       59        9       11        0        0

In [13]:
num_nodes = [0,0,0,0,0,0]

for i in range(0, 6):
    length = df_hier[f'level_{i}'].unique()
    num_nodes[i] = length.size
    print(num_nodes[i])

1
2
14
53
152
657

In [14]:
df_depmap_cmap = pd.read_csv('../data/depmap_cmap_hotspots.csv')
df_depmap_cmap.head()

,complex,gene,selection,p,q,input,rank,source,anno
0,1,"CTC1,ACD",0.006116,0.002,0.0488,1.1306084524375|0.98825606852083,43|2552,cmap,alpha-estradiol_1e-08_6
1,1,"CTC1,ACD",0.005735,0.002,0.0475,1.08664757951891|1.00504951602182,94|1861,cmap,STOCK1N-35696_1.5e-05_6
2,1,"ACD,CTC1",0.004261,0.002,0.0428,0.984344383012639|0.971175655103315,3082|3481,cmap,valproic acid_5e-05_6
3,2,"ACTG2,PPP1CA,PPP1CB,ACTB,PPP1CC,PPP2CA,PPP2CB,...",0.004447,0.002,0.0439,1.07987723200486|1.01451754858704|1.0120277353...,95|892|998|1183|1557|2674|2767|3451|3678|3847|...,cmap,AG-012559_1e-05_6
4,2,"ACTA1,PPP2CB,ACTB,ACTC1,PPP1CC,ACTA2,PPP1CA,PP...",0.004995,0.002,0.0450,1.07982287310126|1.02402823033948|1.0112001074...,62|659|1198|1255|1316|1395|1896|1970|2833|3877...,cmap,BCB000040_1e-05_6

In [15]:
nodes = df_depmap_cmap[['complex', 'source']].drop_duplicates()
nodes.head()

    complex source
0         1   cmap
3         2   cmap
8         6   cmap
36        9   cmap
37       40   cmap

In [16]:
def getNodes(start, end):
    return nodes[(nodes['complex'] >= start) & (nodes['complex'] <= end)]

def normalize(node, level):
    node['complex'] = node['complex'] - sum(num_nodes[level+1:]) + sum(num_nodes[:level])

l5 = getNodes(0, 656)
l4 = getNodes(657, 808)
l3 = getNodes(809, 861)
l2 = getNodes(862, 875)
l1 = getNodes(876, 877)
l0 = getNodes(878, 878)

normalize(l5, 5)
normalize(l4, 4)
normalize(l3, 3)
normalize(l2, 2)
normalize(l1, 1)
normalize(l0, 0)

C:\Users\XIAO\AppData\Local\Temp\ipykernel_3456\567019659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  node['complex'] = node['complex'] - sum(num_nodes[level+1:]) + sum(num_nodes[:level])
C:\Users\XIAO\AppData\Local\Temp\ipykernel_3456\567019659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  node['complex'] = node['complex'] - sum(num_nodes[level+1:]) + sum(num_nodes[:level])
C:\Users\XIAO\AppData\Local\Temp\ipykernel_3456\567019659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  node['complex'] = node['complex'] - sum(num_nodes[level+1:]) + sum(num_nodes[:level])
C:\Users\XIAO\AppData\Local\Temp\ipykernel_3456\567019659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  node['complex'] = node['complex'] - sum(num_nodes[level+1:]) + sum(num_nodes[:level])
C:\Users\XIAO\AppData\Local\Temp\ipykernel_3456\567019659.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  node['complex'] = node['complex'] - sum(num_nodes[level+1:]) + sum(num_nodes[:level])

In [17]:
export = pd.concat([l0, l1, l2, l3, l4, l5])
export.head()

      complex  source
9412        2    cmap
9463        2  depmap
9127       10    cmap
9370       11  depmap
9372       13    cmap

In [19]:
# Export list of CMap and DepMap hotspots to csv file
#export.to_csv('cytoscape_hotspots.csv', index=False)